# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
nums = [45, 300, -5, 800]

for num in nums:
    a = num
    b = int(num)
    print(f"Перевірка для значення: {num}")
    print(f"a == b: {a == b}")
    print(f"a is b: {a is b}\n")

Перевірка для значення: 45
a == b: True
a is b: True

Перевірка для значення: 300
a == b: True
a is b: True

Перевірка для значення: -5
a == b: True
a is b: True

Перевірка для значення: 800
a == b: True
a is b: True

#висновок: значення від -5 до 256 кешовані в пам'яті. тобто при ініціалізації 45 об'єкт не створюється, а лише додається посилання на вже існуючі числа в пам'яті, а за цим діапазоном вже створюються окремі об'єкти навіть якщо вони будуть дублюватись

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
mybool = False
print(str(isinstance(mybool, bool)))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
i = 5
d = 3.56

operations = [
    lambda x, y: x + y,
    lambda x, y: x - y,
    lambda x, y: x * y,
    lambda x, y: x / y if y != 0 else "INF"
]

for op in operations:
    print(op(i, d))
    print(op(d, i))

8.56
8.56
1.44
-1.44
17.8
17.8
1.4044943820224718
0.712

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
d = 9.45
b = True

cast_d = int(d)
cast_b = int(b)

print("Кастований дубл: " + str(cast_d)) #result simply ignores the fraction part of the number
print("Кастований бул:  " + str(cast_b)) # false is 0 and true is 1

Кастований дубл: 9
Кастований бул:  0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
apo = "ccccc``cc"
raw_apo = R"ccccc``cc"
print(apo)
print(raw_apo)

ccccc``cc
ccccc``cc

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Chernenko"
formatted_string = f"My surname is {surname}"
print(formatted_string)

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
dog_string = "My dog is crazy."
dog_string = dog_string.lower().replace(".", "")
word_list = dog_string.split()
print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = list((1, 6, 7, 2))
list2 = [1, 9, 8, 4]
print(str(len(list1)))
print(str(len(list2)))

4
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [0, 2, 9, 4]
list2 = [1, 3, 11, 9]
list1.append(list2)

print(list1)

[0, 2, 9, 4, [1, 3, 11, 9]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
deep_list = [
    [4, 3, 7],
    [1, 0, 6],
    [2, 5, 8]
]
first_element_from_last_row = deep_list[-1][0]
print(first_element_from_last_row)

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list = [1, 1.0, True, 2j+5, (5, 5), 2, 3, 4, 5, 2.36]
new_list = list[2:-2]
print(str(new_list))

[True, (5+2j), (5, 5), 2, 3, 4]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = (1,)
print(type(my_tuple))  # <class 'tuple'>

<class 'tuple'>

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

ну якщо коротко, то тупл краще використати для групування даних в групу, яку потім не зміниш по розміру. список все ж таки для того щоб міняти його вміст по розміру та кількості, хоч за це він платить швидкістю

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tupla = (1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0)
modified_tupla = tupla[-1: 1: -2]
print(str(modified_tupla))

(2.0, 1.8, 1.6, 1.4, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()
my_set.add(10)
my_set.add(5)
my_set.add(2.3)
my_set.add(5)
print(str(my_set))

{10, 2.3, 5}

так це mutable тип

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(str(my_list))
print(str(my_set))

[1, 1, 2, 67, 67, 8, 9]
{1, 2, 67, 8, 9}

ну ідея сету це колекція що зберігає лише унікальні елементи. тобто в цьому коді конструктор приймає список, і створює з нього іншу структуру даних, щоб не було повторів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
first = set((1, 2, 3, 4, 5, 6, 20))
second = set((10, 2, 20, 4, 5, 60))


operations = [
    lambda x, y: x.union(y),
    lambda x, y: x.intersection(y),
    lambda x, y: x.difference(y),
    lambda y, x: x.difference(y),
    lambda x, y: x.symmetric_difference(y)
]

for op in operations:
   print(op(first, second))

{1, 2, 3, 4, 5, 6, 10, 20, 60}
{2, 20, 4, 5}
{1, 3, 6}
{10, 60}
{1, 3, 6, 10, 60}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
my_dictionary = {}
my_dictionary[8] = "a"
my_dictionary[2.25] = "b"
my_dictionary[True] = "c"
my_dictionary['d'] = "e"
print(str(my_dictionary))
print(my_dictionary[8])
#помітив цікавий ефект. якщо покласти а під ключ 1 і с під ключ True, то а буде переписано на c

{8: 'a', 2.25: 'b', True: 'c', 'd': 'e'}
a

по-перше навіщо? а по-друге ні, бо списки не є immutable

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
nested_dict = {
    "first": {
      "second": {
          "third": {
              "final": "shos`"
   }
  }
 }
}
inner_value = nested_dict["first"]["second"]["third"]["final"]
print(inner_value)

shos`

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.